@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');

body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserrat";
    background-image: url(cool-background.png);
    background-size: 100% 100%;
}

a {
    text-decoration: none;
}

li, ul {
    list-style: none;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    font-family: inherit;
}

.calculator {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 95%;
    max-width: 900px;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 5px;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}

.calculator__display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10px;
    min-height: 10%;
    word-break: break-all;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.calculator__buttons {
    display: grid;
    grid: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 2px;
    margin-top: 5px;
    height: 100%;
}

.button {
    font-size: 2em;
    font-weight: 200;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
}

.button--number {
    background-color: rgba(0, 0, 0);
}

.button--equal {
    grid-column: span 2;
    background-color: rgba(79, 88, 90, 0.8);
}